<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Automotriz car service">
    <meta name="keywords" content="Servicio mecanico,cambio de llantas,venta de llantas">
    <meta name="author" content="Juan Esteban Bonilla Tavera ">
    <title>Automotriz car service</title>
    <link rel="stylesheet" href="Css/estilo2.css">
    <link rel="stylesheet" href="Css/normal.css">

</head>

<body>

    <header>
        <div class="contenedor">
            <div class="marca">
                <h1><span class="resaltado">El mejor</span> servicio Automotriz</h1>
                <img src="imagenes/Index_logo.png" alt="" width="140">
                <nav>
                    <ul>
                        <li class="actual"><a href="index.html">Inicio</a></li>
                        <li class="actual"><a href="quienes_somos.html">Nosotros</a></li>
                        <li class="actual"><a href="servicios.html">Servicios</a></li>
                        <li class="actual"><a href="contactenos.html">Contáctenos</a></li>
                    </ul>
                </nav>
            </div>

            <section id="boletin">
                <div class="contenedor">
                    <h1>Quienes somos</h1>
                </div>
            </section>
            <section id="principal">
                <div class="contenedor">
                    <article id="col-principal2">
                        <h1 id="reseña">Reseña histórica</h1>
                        <p class="texto">Nuestra empresa es relativamente joven no poseemos una larga
                            historia que contar, pero lo que carecemos de una larga trayectoria
                            pero esto lo compensamos con nuestro servicio de calidad,
                            integridad y nuestros empleados altamente calificados.

                        </p>

                        <img class="reseña" src="imagenes/Quienes_somos_reseña_historica.PNG" width="400">
                    </article>
                    <aside id="lateral">
                        <div class="oscuro">
                            <h1>Misión</h1>
                            <p>Proporcionar un buen servicio de mantenimiento automotriz en general, conservando los
                                autos y motocicletas de nuestros clientes en un estado de operación eficiente y seguro
                                satisfaciendo sus necesidades o expectativas en el menor tiempo.


                            </p>
                        </div>
                    </aside>
                    <div class="oscuro ">
                        <h1>Vision</h1>
                        <p>La empresa quiere expandirse por todo el Tolima en 5 años proporcionando un servicio de
                            calidad para brindar soluciones fiables y duraderas que conserven
                            los autos en un estado optimo, eficiente y seguro por medio de personal altamente
                            capacitado, motivado que tiene como principal interés
                            la seguridad con la completa satisfacción de nuestros clientes.

                        </p>
                    </div>
                    </aside>
                </div>
            </section>

            <footer>
                <p>Automotriz Car service Copyright &copy; 2022</p>
                <p>Encuéntrenos en la dirección Mirolindo 3a, Ibagué, Tolima

                    Horario de atencion lunes a sábado 8:00am a 6:00pm

                    Telefono:189829818191 celular:3504417602
                </p>

            </footer>


</body>

</html>