<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Automotriz car service">
    <meta name="keywords" content="Servicio mecanico,cambio de llantas,venta de llantas">
    <meta name="author" content="Juan Esteban Bonilla Tavera ">
    <title>Automotriz car service</title>

    <link rel="stylesheet" href="Css/estilo2.css">
    <link rel="stylesheet" href="Css/normal.css">

</head>

<body>

    <header>
        <div class="contenedor">
            <div class="marca">
                <h1><span class="resaltado">El mejor</span> servicio Automotriz</h1>
                <img src="imagenes/Index_logo.png" alt="" width="140">
                <nav>
                    <ul>
                        <li class="actual"><a href="index.html">Inicio</a></li>
                        <li class="actual"><a href="quienes_somos.html">Nosotros</a></li>
                        <li class="actual"><a href="servicios.html">Servicios</a></li>
                        <li class="actual"><a href="contactenos.html">Contáctenos</a></li>
                    </ul>
                </nav>

            </div>
            <section id="boletin">
                <div class="contenedor">
                    <article id="col-principal">

                        <ul class="ajuste">
                            <li class="cajab">
                                <h3>Reparación del vehículo</h3>
                                <p>Contamos con los mejores mecánicos que reparan a la perfección a tu vehículo</p>
                                <br>
                                <br>
                                <br>
                            </li>
                            <br>
                            <br>
                            <br>
                            <li class="cajab2">
                                <br>
                                <h3>Cambio de llantas</h3>
                                <p>Cuando tu vehículo necesite llantas de calidad o cambio por daño</p>
                                <br>
                                <br>
                            </li>
                            <br>
                            <br>
                            <li class="cajab3">

                                <br>
                                <h3>Personalización de tu vehículo </h3>
                                <p>Personalizamos tu vehículo a tu gusto </p>
                                <br>
                            </li>


                        </ul>
                    </article>
                    <aside id="lateral">
                        <div class="claro">
                            <img src="imagenes/servicio_reparacion_de_vehiculos.PNG" width="220">
                        </div>

                    </aside>

                    <aside id="lateral">
                        <div class="claro">
                            <img src="imagenes/servicio_cambio_de_llantas.PNG" width="220">

                        </div>

                    </aside>

                    <aside id="lateral2">
                        <div class="claro">
                            <img src="imagenes/servicio_personalizacion_vehiculo.PNG" width="220">
                        </div>
                    </aside>

                </div>
            </section>

            <footer>
                <p>Automotriz Car service Copyright &copy; 2022</p>
                <p>Encuéntrenos en la dirección Mirolindo 3a, Ibagué, Tolima

                    Horario de atencion lunes a sábado 8:00am a 6:00pm

                    Telefono:189829818191 celular:3504417602
                </p>

            </footer>



</body>

</html>